:root {
    background-color:  #7DA2A9;
}

#timer {
    text-align: center;
    font-size: 30px;
    color: #F7F7F7;
}

#start-btn {
    margin: 0;
    position: absolute;
    box-shadow:inset 0px 0px 15px 3px #23395e;
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	background-color:#2e466e;
	border-radius:17px;
	border:1px solid #1f2f47;
	color:#ffffff;
	font-family:Arial;
	font-size:21px;
	padding:5px 22px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    cursor: pointer;
}

.button {
    box-shadow:inset 0px 0px 15px 3px #23395e;
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	background-color:#2e466e;
	border-radius:17px;
	border:1px solid #1f2f47;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:21px;
	padding:5px 22px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
    position: absolute;
    left:50%;
    transform: translate(-50%);
    cursor: pointer;
}
#choices {
     box-shadow:inset 0px 0px 15px 3px #23395e;
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	background-color:#2e466e;
	border-radius:17px;
	border:1px solid #1f2f47;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:21px;
	padding:5px 22px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
    position: absolute;
    left:50%;
    transform: translate(-50%);
    cursor: pointer;
}

#question {
    text-align: center;
color: #F7F7F7;
}

#initials {
display: block;
margin: auto;
margin-top: 25%;
font-size: large;
}
#submit {
 margin: auto;
 margin-top: 10px;
}

.scoreSheet {
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 10%;
    color: #F7F7F7;
}